<div class="well">
  <div class="my_lists">
    <div class="row">
      <div class="col-sm-8">
        <h2>Your lists:</h2>
      </div>
      <div class="col-sm-4 pull-right">
        <button class="btn btn-default" data-toggle="modal" data-target="#create-new-list">Create new List</button>
      </div>
    </div>
    <% if (my_lists.length) { %>
      <% my_lists.forEach(function(list){ %>
            <a href="/lists/<%= list.id %>" class="btn btn-default"><h4><i class="mdi-action-assignment-turned-in"></i><%= list.name %></h4></a>
      <% }); %>
    <% } else { %>
      No list yet. <a href="#" data-toggle="modal" data-target="#create-new-list">Create one?</a>
    <% } %>
  </div>
  <div class="shared_lists">
    <% if (shared_lists.length) { %>
      <h2>Lists shared with you:</h2>
    <% } %>
  </div>
</div>
<div id="create-new-list" class="modal fade" tabindex="-1" style="display:none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Create New List</h4>
      </div>
      <form role="form" action="/lists/create" method="post" class="form-horizontal">
        <div class="modal-body">
          <input id="inputName" name="name" class="form-control floating-label" type="text" placeholder="Name your List">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Create List</button>
        </div>
      </form>
    </div>
  </div>
</div>

